<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
    <link rel="stylesheet" href="stylesheets/Doctor_login.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="form">
            <h2>Sign-In</h2>
            <label>
                <span>Email</span>
                <input type="email" name="email">
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password">
            </label>
            <button class="submit" type="button">Sign In</button>
            <p class="forget-pass">In case you forget the password, contact the admin!!</p>
        </div>
        <div class="text-content">
            <h2>Hey Doc! Wassup</h2>
        </div>
        <div class="quote">
            <p>Medicines can cure, but a good doctor’s inspirational words can give the strength to fight from within.</p>
        </div>
    </div>
</body>
</html>