<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/mydesign.css" type="text/css">
</head>
<body>
    <div class="main">
        <!--Code for the navigation bar starts from here-->
        <div class="navigation-bar">
            <div class="logo">
                <img src="./myimages/logo.jfif">
            </div>
            <div class="logoname">
                <h2>HEALTH</h2>
                <h5>CARE</h5>
            </div>
            <div class="buttons">
                <button>Home</button>
                <button>Features</button>
                <button>About</button>
                <button>Pricing</button>
            </div>
        </div>

        <!--Code for the slider starts from here-->
        <div class="slider">
            <div class="slider1">
              <img src="./myimages/slide-image1.jpg">
              <div class="text-content text-content1">
                  <h1>ONE STOP FOR ALL YOU MEDICAL NEEDS</h1>
                  <span></span>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda, 
                      quibusdam itaque facilis vel doloribus at sequi, quisquam illo suscipit iusto.
                      Cumque eveniet praesentium ullam similique quo ipsam nam voluptatem!</p>
              </div>
            </div>
            <div class="slider2">
                <img src="./myimages/slide-image2.jpg">
                <div class="text-content text-content2">
                    <h1>GIVING OUR BEST FOR YOU</h1>
                    <span></span>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda, 
                        quibusdam itaque facilis vel doloribus at sequi, quisquam illo suscipit iusto.
                        Cumque eveniet praesentium ullam similique quo ipsam nam voluptatem!</p>
                </div>
              </div>
              <div class="slider3">
                <img src="./myimages/slide-image3.jpg">
                <div class="text-content text-content3">
                    <h1>PROVIDING YOU FAST AND RELIABLE SERVICES</h1>
                    <span></span>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda, 
                        quibusdam itaque facilis vel doloribus at sequi, quisquam illo suscipit iusto.
                        Cumque eveniet praesentium ullam similique quo ipsam nam voluptatem!</p>
                </div>
              </div>
              <div class="slider4">
                <img src="./myimages/slide-image4.jpg">
                <div class="text-content text-content4">
                    <h1>WE BELEIVE IN GOD AND HOPE YOU BELEIVE IN US</h1>
                    <span></span>
                    <p id>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda, 
                        quibusdam itaque facilis vel doloribus at sequi, quisquam illo suscipit iusto.
                        Cumque eveniet praesentium ullam similique quo ipsam nam voluptatem!</p>
                    </div>
              </div>
        </div>
        <!--Code for buttons start from here-->
        <div class="button-panel"></div>
    </div>
</body>
</html>