*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }


  
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: -webkit-linear-gradient(left, #66b3ff, #aaff80);*/
    /* background-image: url(images/gloved-hand-of-doctor-in-scrubs-holds-straight-forceps.jpg); */
    background-image: url(images/general-hospital-sign.jpg);
    background-size: 100% 100vh;
    /*background-image: -webkit-linear-gradient(left, #7579ff, #b224ef);*/
    font-family: 'Nunito', sans-serif;
  }
  
  input, button{
    border:none;
    outline: none;
    background: none;
  }
  
  .cont{
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 525px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 10px 19px 50px rgba(0, 0, 0, 1), 0 15px 15px rgba(0, 0, 0, 0.22); 
  }
  
  .form{
    position: relative;
    width: 525px;
    height: 100%;
    padding: 50px 30px;
    border-radius: 30px;
    /* -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out; */
  }
  
  h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  
  label{
    display: block;
    width: 375px;
    margin: 40px auto 0;
    text-align: left;
  }
  
  label span{
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
  }
  
  input{
    display: block;
    width: 100%;
    margin-top: 2px;
    /* margin-left: auto;
    margin-right: auto; */
    font-size: 16px;
    padding-bottom: 2px;
    /*border: 1px solid black;*/
    /*border-radius: 30px;*/
    /*box-shadow: 1px 1px 3px rgb(36, 35, 35);*/
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: left;
    font-family: 'Nunito', sans-serif; 
  }
  
  button{
    display: block;
    margin: 0 auto;
    width: 375px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  .submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: rgb(38, 63, 82);
  }
  
  .submit:hover{
    background: rgb(71, 121, 152);
  }
  
  .forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
  }
  
  .forgot-pass:hover{
    color: rgb(71, 121, 152);
  }
  
  .sub-cont{
    overflow: hidden;
    position: absolute;
    left: 525px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 375px;
    background: #fff;
 
  }

  .img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 375px;
    height: 100%;
    padding-top: 360px;
    
  }

  .background-image{

    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 375px;
    height: 100%;
    background-image: url(images/jonjon.jpg);
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
    background-size:cover ;
    padding-top: 360px;
    
  }
  
  
  .cont.s-signup .img:before{
    -webkit-transform:translate3d(600px, 0, 0);
            transform:translate3d(600px, 0, 0);
  }
  
  .img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: rgb(35, 44, 51);
    /* color:rgb(255, 255, 255); */
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .img-text h2{
    margin-bottom: 20px;
    font-weight: 800;
  }
  
  .img-text p{
    font-size: 17px;
    line-height: 1.0;
    text-align: match-parent;
    font-weight: 700;
  }
  
  .cont.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
            transform:translateX(520px);
  }
  
  .img-text.m-in{
    -webkit-transform:translateX(-520px);
            transform:translateX(-520px);
  }
  
  .cont.s-signup .img-text.m-in{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  }
  
  
  .sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
            transition-timing-function:ease-out;
  }
  
  /* .cont.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
            transition-duration:1.2s; 
    -webkit-transform:translate3d(600px, 0, 0);
            transform:translate3d(600px, 0, 0);
  }
   */
  .img-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 150px;
    height: 36px;
    margin: 30px auto;
    background: transparent;
    /* color: #553a43; */
    color: rgb(38, 63, 82);
    /* text-transform: uppercase; */
    font-size: 15px;
    cursor: pointer;
  }
  
  .img-btn:after{
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2.5px solid rgb(38, 63, 82);
    border-radius: 30px;
  }
  
  .img-btn span{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
  }
  
  .img-btn span.m-in{
    -webkit-transform:translateY(-72px);
            transform:translateY(-72px);
  }
  
  .cont.s-signup .img-btn span.m-in{
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
  
  .cont.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
            transform:translateY(72px);
  }
  
