<html>
<head>
	<title>Sign In</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
  {% load static %}
  {% load crispy_forms_tags %}

  <link rel="stylesheet" type="text/css" href="{% static 'Doctor_login.css' %}">

</head>
<body>
  <div class="cont">
    <form method="POST">
      {% csrf_token %}
    <div class="form sign-in">
      <h2>Sign In.</h2>

      <label>
        {% for field in form %}
       
        {{ field.label_tag }}
        {{field}}
       
        {% endfor %}
      </label>
      
      <label>
        <div class="nferror" style="color: rgb(214, 0, 11);
        margin: 0.5rem 0;
        padding: 0">
         <strong> {{form.non_field_errors|striptags}}</strong>
          </div>
        </label>
  
     
      <button class="submit" type="submit">Sign In</button>
    </form>
    
    <div class="sub-cont">
        <div class="background-image"></div>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>Welcome back!</h2>
          <p STYLE="font-weight:500">We're glad to see you again.</p>
        </div>
        <div class="img-text m-in">
          <h2>Forgot Password?</h2>
          <p>Contact your hospital administrator. They'll help you out!</p>
        </div>
        <div class="img-btn">
          <span class="m-up" style="font-weight: 700;">Forgot Password?</span>
          <span class="m-in" style="font-weight: 700;">Back</span>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'Doctor_login.js' %}"></script>
</body>
</html>