<html>
<head>
	<title>Oops..</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'success.css' %}">
</head>
<body>
  <div class="cont">
    <div class="form sign-in">
      <h2>Oops...you've signed into the wrong place!</h2>

      <img src="{% static 'images/patient_confused.jpg' %}" style="display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;">
  
     

    <!-- <button class="submit" onclick="location.href='{% url 'Patient:MedHistoryForm' %}'" type="button">
        Continue</button> -->

    <a href="{% url 'Patient:Dashboard' %}"><button class="submit" style="padding-top: 2px ;">Go to Patient Dashboard</button></a>
      </div>
    </div>
  </div>


</body>

</html>